[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
pillow = "*"
django-storages = "*"
django-graphql-jwt = "*"
django-filter = "*"
django-cors-middleware = "*"
gunicorn = "*"
sphinx-rtd-theme = "*"
mysqlclient = "*"
mysql-connector-python = "*"
django-graphiql = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
isort = "*"
sphinx = "*"

[requires]
python_version = "3.7"
